h1.sidebar-heading img{
	max-width: 100%;
	height: auto;
	width: auto\9; /*--responsiveness for i.e. 8*/
}


#dark {
	background-color: black;
	color: white;
}

.dropshadowimg
    { box-shadow: 0px 0px 15px #C0C0C0; }


/*.btn.btn-ghost.pull-left #dark*/