/*self-written css*/

/*emphasize the current section that the user is viewing*/

header a .current {
    color: #6677ff;
  }

/* Self-made footer modifications */
/*code layout follows main.css*/

	#footer {
		background-color: #133c7f;
		color: #f2a3a5;
		padding: 4em 0 2em 0;
		background: #133c7f;
	}

		#footer input, #footer textarea, #footer label {
			color: #ffffff;
		}

		#footer h2 {
			color: #fff;
		}

			#footer input[type="submit"].alt,
			#footer input[type="reset"].alt,
			#footer input[type="button"].alt,
			#footer button.alt,
			#footer .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #ffffff !important;
			}

				#footer input[type="submit"].alt:hover,
				#footer input[type="reset"].alt:hover,
				#footer input[type="button"].alt:hover,
				#footer button.alt:hover,
				#footer .button.alt:hover {
					background: rgba(255, 255, 255, 0.25);
				}

				#footer input[type="submit"].alt:active,
				#footer input[type="reset"].alt:active,
				#footer input[type="button"].alt:active,
				#footer button.alt:active,
				#footer .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}



			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 2px #ffffff;
			}



i {
	padding: 20px;
}

/*STUFF FOR SLIDERS BELOW*/
/*SOURCE was w3schools*/



* {box-sizing:border-box}



/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    align-content: center;
    height:170px
    width:auto;/*maintain aspect ratio*/
    max-width:600px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*Added in fading animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*STUFF FOR SLIDERS ABOVE*/
/*SOURCE was w3schools*/



   


/*MEDIA QUERYS FOR NAV BAR*/

@media screen and (max-width: 980px) {

  #nav {
    display: none;
  }

  .navPanelToggle {
    display: block;
  }

  #navPanel {
    display: block;
  }
}

@media screen and (max-width: 736px) {

  .navPanelToggle {
    right: 1em;
  }

}


#nav .current {
  color: #6677ff;
}

/*Change padding for screens*/
@media screen and (max-width: 980px) {

  #one {
    padding: 4em 0 2em 0;
  }
  body, input, select, textarea {
        font-size: 12pt;
      }

}
/*CHANGE SCREEN PADDING FOR MEDIUM SCREEN*/
@media screen and (max-width: 736px) {

  #one {
    padding: 2em 0 0.1em 0;
  }
    body, input, select, textarea {
    font-size: 12pt;
  }
}

/*Change font for screens*/


    @media screen and (max-width: 1680px) {

      body, input, select, textarea {
        font-size: 14pt;
      }

    }

    @media screen and (max-width: 1280px) {

      body, input, select, textarea {
        font-size: 13pt;
      }

    }


    @media screen and (max-width: 480px) {

      body, input, select, textarea {
        font-size: 12pt;
      }

    }